.plot {
  min-width: 310px;
  height: 400px;
  margin: 55px;
}

#timeRange {
  position: absolute;
  left: 740px;
  top: 14px;
}

#pie-chart {
  position: absolute;
  display: inline-block;
  right: 30px;
}

#segdata {
  position: relative;
  display: inline-block;
  top: 70px;
  left: 170px;
  min-width: 200px;
}

#segdata h4 {
  position: relative;
  left: 27px;
}
