.plot {
  position: relative;
  top: 30px;
  min-width: 1010px;
  height: 350px;
  margin: 15px 55px 0px 45px;
}

#timeRange {
  position: absolute;
  left: 740px;
  top: 14px;
}

#stats {
  position: absolute;
  left: 150px;
  top: 14px;
  color: white;
}

#stats button:nth-of-type(1) {
  background-color: #33b419;
}

#stats button:nth-of-type(1).active {
  background-color: #268713;
}

#stats button:nth-of-type(2) {
  background-color: #d3660a;
}

#stats button:nth-of-type(2).active {
  background-color: #a24e08;
}

#pie-chart {
  position: absolute;
  display: inline-block;
  top: 400px;
  height: 350px;
  right: 30px;
}

#segdata {
  position: relative;
  display: inline-block;
  top: 75px;
  left: 190px;
  min-width: 200px;
}

#segdata h4 {
  position: relative;
  left: 27px;
}

#segdata li:hover {
  cursor: pointer;
}

#segdata li:hover:not(.active){
  background: #dbe9f5;
}

#credits {
  position: fixed;
  top: 720px;
  left: 450px;
}
